header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 1;
  height: 80px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.main{
  display: flex;
  overflow: scroll;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  align-items: flex-start;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.text-content {
  height: 250px;
}

.column.medium {
  width: 300px;
  font-family: Georgia;
  font-size: 17px;
  color: black;

}

.column.small {
  width: 240px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.img-content {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
}

.img-storymain {
  background-image: url(/Users/AHK/Documents/Projects/MyTimes/resources/content/img-story-main.png);
  font-size: 40px;
  text-align: left;
}

.img1{
  background-image: url(/Users/AHK/Documents/Projects/MyTimes/resources/content/img-story-2.png);
}

.img2 {
  background-image: url(/Users/AHK/Documents/Projects/MyTimes/resources/content/img-story-3.png);
}

.img3 {
  background-image: url(/Users/AHK/Documents/Projects/MyTimes/resources/content/img-story-1.png);
}
